.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #10141e;
    font-family: outfit,sans-serif;
    color: #FFFFFF;
}

a{
    color: #FFFFFF;
    opacity: 0.8;
}


h1{
font-size:32px;
}

h2{
font-size:30px;
}
