.search {
  display: flex;
  padding: 2rem 0;
  .search-icon {
    width: 30px;
  }
  input[type='text'],
  input[type='text']:focus,
  input[type='text']:focus-visible {
    border: 0;
    outline: none;
  }
  input {
    width: 100%;
    background-color: #10141e;
    border: none;
    color: #fff;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300;
    opacity: 0.8;
    font-family: Outfit, sans-serif;
  }
}
