@import url('./styles/Sidebar.scss');
@import url('./styles/Search.scss');

:root {
  --Dark-Blue: #10141e;
  --Semi-Dark-Blue: #161d2f;
  --Pure-White: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  background: var(--Dark-Blue, #10141e);
}

img {
  width: 100%;
  object-fit: contain;
}

#root {
  display: grid;
  grid-template-columns: 96px 1fr;
  padding: 2rem 0 2rem 2rem;

  @media screen and (max-width: 960px) {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
